.chartscontainer {
    background-color: whitesmoke;
    float: left;
    width: 65%;
    margin-top: 1em;
    padding: .5em;
    border-radius: 1em;
}
h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}