header {
    background: #22001F;
    height: 0 100%;
    .logo {
        font-weight: bold;   
    }
    .icon {
        padding-top: .1em;  
    }

    nav {
        justify-self: right;
    
        ul {
            list-style-type: none;
            margin: 0; padding: 0;

            li {
                float: left;

                a {
                    padding: 1.5em;
                    text-transform: uppercase;
                    font-size: .8em;

                    &:hover {
                        background: #8E0BFF;
                    }
                }


            }
        }
    }
}
