.rightside {
    margin: 1em;
    float: left;
    width: 30%;
    border-radius: 10px;
    background: #325055;
    color: white;
}
.fondo {
    background: white;
    color: black;
}
a {
    //padding: .5em;
    text-transform: uppercase;
    font-size: .8em;
    width: 100%;
    
}
tbody {
    tr {
        &:hover {
            background:gray;
        }
    }
}